/* Imported fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


/*======Defined hex colors using css variables======*/

:root {
    --color-blue: #5B54FA;
    --color-purple: #9F2BC1;
    --color-red: #D31A50;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.7;
}

ul {
    list-style-type: none;
}

/*=======Nav-bar=======*/

header {
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1rem 0;
    font-family: 'Dancing Script', cursive;
}
.logo {
    font-size: 2.6rem;
    padding-left: 1rem;
    color: white;
}
li {
    display: inline;
}
.nav-link {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 1rem;
    font-size: x-large;
}
.nav-link:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

/* Section */

.section {
    height: 100vh;
    padding-top:6rem;
}

/* Home */


/* Presentation */


















/* About */

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle {
    display: flex;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 15px red, 0px 0px 0px 30px green, 0px 0px 0px 45px yellow, 0px 0px 0px 60px blue, 0px 0px 0px 75px skyblue, 0px 0px 0px 90px pink;
    width: 160px;
    height: 160px;
    margin: 3em;
}
.profile-img {
    border-radius: 50%;
    width: 160px;
    height: 160px;
}
.info{
    width: 50%;
}
.profile-name {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
}
.profile-info {
    color: black;
    background-color: white;
    padding: 1rem;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

/* Footer */

.social-links {
    display: flex;
    justify-content: center;
}

.social-icon {
    margin: 0.7rem;
}

/* Responsiveness */

@media only screen and (max-width: 750px) {
    .logo {
        font-size: 2.2rem;
        padding-left: 0.4rem;
    }

    .nav-link {
        font-size: larger;
        padding: 0.5rem;
    }
    .profile{
        display: flex;
        flex-direction: column;
    }
    .info{
        padding-top:2.5rem;
        width:85%;
    }
}