/* Imported fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


/*======Defined hex colors using css variables======*/

:root{
    --color-blue:#5B54FA;
    --color-purple:#9F2BC1;
    --color-red:#D31A50;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.7;
}

ul {
    list-style-type: none;
}

/*=======Nav-bar=======*/

header{
    background-color:var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    font-family: 'Dancing Script', cursive;
}

.logo{
    font-size: 2.6rem;
    padding-left: 1rem;
    color: white;
}

li{
    display: inline;
}

.nav-link{
  color: white;
  text-decoration: none;
  margin: 0 1rem;
  font-size: x-large;
}

.nav-link:hover{
    color: black;
}

.home-section{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
}


.profile-img{
    width:40%;
    border-radius: 50% ;
}






@media only screen and (max-width: 600px) {
    .logo{
        font-size: 2.2rem;
        padding-left:0.4rem;
    }
    .nav-link{
        margin: 0 0.5rem;
        font-size: larger;
    }
  }