/* Imported fonts from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');


/*======Defined hex colors using css variables======*/

:root{
    --color-blue:#5B54FA;
    --color-purple:#9F2BC1;
    --color-red:#D31A50;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.7;
}

ul {
    list-style-type: none;
}

/*=======Nav-bar=======*/

header{
    background-color:var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    font-family: 'Dancing Script', cursive;
    font-size: 2.6rem;
    padding-left: 1rem;
    color: white;
}

li{
    display: inline;
}

.nav-link{
  color: white;
  text-decoration: none;
  margin: 0 0.8rem;
}

.nav-link:hover{
    color: var(--color-purple)
}




@media only screen and (max-width: 600px) {
    .logo{
        font-size: 2rem;
        padding-left:0.5rem;
    }
    .nav-link{
        margin: 0 0.2rem;
        font-size: 0.9rem;
    }
  }